@media (max-width: 1024px) {
  header {
    .header_section1 {
      .container {
        .row {
          .logo {
            padding-left: 5px;
          }
          .top_menu {
            padding-left: 15px;
            ul {
              li {
             
                a {
                  font-size: 16px;
                }
              }
            }
          }
          .top_search {
            margin-left: 120px;
            label {
             
              i {
                left: 9px;
              }
              .inp {
                width: 300px;
                height: 43px;
              }
            }
          }
        }
      }
    }
  }
}
