.section1 {
  padding: 0 0 60px 0;
}
.section1 .container .General {
  width: 450px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  border-radius: 10px;
  background-color: #ffffff;
  filter: drop-shadow(0px 8px 10px rgba(0, 1, 1, 0.26));
  margin: auto;
}
.section1 .container .General .remember-me .checkbox-text {
  transform: translate(-34px, 2px);
}
.section1 .container .General hr {
  align-items: center;
  width: 160px;
}
.section1 .container .General form {
  display: flex;
  flex-direction: column;
}
.section1 .container .General .input {
  color: #1a1919;
  font: bold 14px;
  letter-spacing: 2px;
  line-height: 28px;
  text-transform: uppercase;
}
.section1 .container .General #email {
  opacity: 0.702;
  width: 351px;
  height: 50px;
  padding-left: 10px;
  margin-bottom: 34px;
  border-radius: 3px;
  border: 1px solid #d8d8d8;
  outline-color: green;
  background-color: rgba(255, 255, 255, 0.7019607843);
}
.section1 .container .General #password {
  width: 351px;
  height: 50px;
  padding-left: 10px;
  margin-bottom: 14px;
  border-radius: 3px;
  border: 1px solid #d8d8d8;
  outline-color: green;
  background-color: rgba(255, 255, 255, 0.7019607843);
}
.section1 .container .General .remember-me {
  display: flex;
}
.section1 .container .General .remember-me .checkbox-text {
  color: #8b8b8b;
}
.section1 .container .General .remember-me .forgot-link {
  color: #000000;
  text-decoration: underline;
}
.section1 .container .General .login-button {
  padding: 13px 144.5px;
  margin: 23px 0;
  border-radius: 5px;
  background-color: #000000;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}
.section1 .container .General .All-button {
  height: 36.4px;
  display: flex;
  flex-direction: column;
}
.section1 .container .General .All-button .facebook-button {
  padding: 9px 90px;
  margin: 10px 0;
  background-color: #3b5998;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}
.section1 .container .General .All-button .google-button {
  padding: 9px 90px;
  margin: 10px 0;
  background-color: #1da1f2;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  right: 0;
}

#email::-moz-placeholder {
  opacity: 0.902;
  color: #555555;
  font: 300 18px;
}

#email::placeholder {
  opacity: 0.902;
  color: #555555;
  font: 300 18px;
}

#password::-moz-placeholder {
  opacity: 0.902;
  font-size: 12px;
  color: #6e6e6e;
}

#password::placeholder {
  opacity: 0.902;
  font-size: 12px;
  color: #6e6e6e;
}

.login-button:hover {
  background-color: #eb15bc;
}

.facebook-button:hover {
  background-color: #2d4373;
}

.twitter-button:hover {
  background-color: #0c8ddb;
}

.forgot-link:hover {
  text-decoration: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 10px;
  margin: 10px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: -34px;
  left: -60px;
  right: 0;
  bottom: 0;
  background-color: #b9b9b9;
  border-radius: 34px;
  transition: 0.4s;
  width: 50px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 20px;
  left: 4px;
  bottom: 8px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  transition: 0.4s;
}

.switch input:checked + .slider {
  background-color: #000000;
}

.switch input:checked + .slider:before {
  transform: translateX(26px);
}/*# sourceMappingURL=signin.css.map */